<p>Confirma si todo esta en orden</p>
<p> Ciudad de origen: $origen</p>
<p> Ciudad de destino: $destino</p>
<p> Empresa: $empresa</p>
<p> Precio: $ $precio.get(0)</p>
<form method = "get" action="home">
<input type="submit" value="Comprar">
</form>
