<form action="/add-depto" method="post">
    <label for="nombre">Nombre del departamento</label><br>
    <input id="nombre" name="nombre" type="text" value="$!nombre"/><br>
    <label for="director">Director del departamento</label><br>
    <input id="director" name="director" type="text" value="$!director"/><br>

    <input type="submit" value="Agregar DEPARTAMENTO">
</form>

$!message