
<form action="/home" method="post">
    <label for="id">ID</label><br>
    <input id="id" name="id" type="number" min="1" value="1"/><br>
    <input type="submit" value="Ingresar">
</form>

<div class="info">
    IDs disponibles: 1,2,3,4,5,6.<br>
    Las cuentas 1, 2 y 3 tienen peliculas precargadas
</div>
